<%- include("layouts/header") -%>
    <br><br>
    <h1>To Do List</h1>

    <div class="accordion" id="loginSigninAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Log In
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#loginSigninAccordion">
            <div class="accordion-body">
                <h2>Log In</h2>
                <form action="/login" method="POST">
                    <label for="loginuser">Username</label><br>
                    <input type="text" placeholder="Username" name="username" required>
                    <br>
                    <label for="pwd">Password</label><br>
                    <input type="password" placeholder="Password" name="password" required>
                    <br><br>
                    <input type="submit" class="btn btn-primary" value="Log In">
                </form>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Sign Up
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#loginSigninAccordion">
            <div class="accordion-body">
                <h2>Sign Up</h2>
                <form action="/register" method="POST">
                    <label for="signupuname">Email</label><br>
                    <input type="text" placeholder="Username" name="username" required><br>
                    <label for="signuppass">Password</label><br>
                    <input type="password" placeholder="Password" name="password" required><br>
                    <label for="signupcpass">Confirm Password</label><br>
                    <input type="password" placeholder="Confirm Password" name="confpassword" required><br>
                    <label for="auth">Authentication</label><br>
                    <input type="text" placeholder="Authentication" name="auth" required><br>
                    <br>
                    <br>
                    
                    <input type="submit" class="btn btn-primary" value="Sign Up">
                  
                </form>
            </div>
          </div>
        </div>
    </div>

    <%- include("layouts/footer") -%>