body {
	padding-top: 70px;
	font-family: "Poppins", sans-serif;
}

h1 {
	text-align: center;
}

p {
	font-size: 20px;
}

.main {
	background-color: #f0f5f9;
	width: 400px;
	text-align: center;
	margin: auto;
	/* Gotten from W3school */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#accordionFlushExampletodo {
	background-color: #f0f5f9;
	margin: 0 auto 0 auto;
	width: 400px;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile {
	/* background-color: #f0f5f9; */
	margin: 0 auto 0 auto;
	padding-left: 50px;
	padding-right: 50px;
	width: 20%;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tasks {
	background-color: #f0f5f9;
	margin: 50px auto 0 auto;
	padding: 5px 10px;
	width: fit-content;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.greenaccent {
	accent-color: #92b273;
}

.lined {
	text-decoration: line-through;
}

.accordion-header {
	background-image: none;
}
